{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="post" class="jumbotron form center">
        {{ form.csrf_token }}
        <h3 class="form-header">Sign Up</h3>
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">ID</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="ID" value="{{ form.username.data or '' }}">
        </div>
        <div class="form-group">
            <div>
                <label for="password1">password</label>
                <input type="password" name="password1", id="password1" class="form-control" placeholder="password" value="{{ form.password1.data or '' }}">
            </div>
            <div>
                <label for="password2">password confirm</label>
                <input type="password" name="password2", id="password2" class="form-control" placeholder="password confirm" value="{{ form.password2.data or '' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" id="name" placeholder="name" class="form-control" value="{{ form.name.data or '' }}">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" id="email" placeholder="email" class="form-control" value="{{ form.email.data or ''}}">
        </div>
        <div class="form-group">
            <label for="birth">birth</label>
            <input type="date" name="birth" id="birth" placeholder="birth" class="form-control" value="{{ form.birth.data or '0000-00-00' }}">
        </div>
        <button class="btn btn-lg btn-primary signup-btn" type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}