{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron center info">
    <div>
        <h2 class="display-2">{{ user.name }}</h2>
        <p>@{{ user.username }}</p>
    </div>
    <div style="border-top: 1px solid grey; margin-bottom: 5px;"></div>
    <table class="table table-borderless">
        <tr>
            <th scope="row">email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">birth</th>
            <td>{{ user.birth }}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-secondary info-btn" onclick="location.href='{{ url_for('user.user_list') }}'">Return to list</button>
</div>
{% endblock %}