{% extends 'layout.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/user/{{ g.user.id }}"class="nav-link">{{ g.user.username }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('auth.signout') }}" class="nav-link">(Sign Out)</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron user-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">birth</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr style = "cursor:pointer;" onclick="location.href='/user/{{ user.id }}'">
            <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
</div>
{% endblock %}